<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if devour}}DEVOUR{{/if}}
        {{!-- {{else}}WAKE UP! --}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
